__pycache__/
.ipynb_checkpoints/
.vscode/
archive/*

data/*
!data/evaluation
data/evaluation/*
!data/evaluation/.gitkeep

!data/interim
data/interim/*
!data/interim/.gitkeep

!data/raw
data/raw/*
!data/raw/.gitkeep

!data/process
data/process/*
!data/process/.gitkeep

!data/output
data/output/*
!data/output/.gitkeep

mlruns/
notebooks/wip/*